{% extends 'base.html.twig' %}
{% block body %}

    <h1>WeWork Meetupator</h1>

    {% if availableVenues is not empty %}
        <section>
            <h2>Buildings</h2>
            <form method="post" action="{{ url('home') }}">
                <div class="form-group">
                    <label for="venueInput">Building</label>
                    <select class="form-control" id="venueInput">
                        {% for venue in availableVenues %}
                            <option value="{{ venue.sourceId }}">{{ venue.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="meetupInput">Meetup URL</label>
                    <input type="text" class="form-control" id="meetupInput" placeholder="https://www.meetup.com/..." />
                </div>
                <div class="form-group">
                    <button type="submit">Associate</button>
                </div>
            </form>
        </section>
    {% endif %}


    {% if associatedVenues is not empty %}
        <section>
            <h2>Buildings linked to Meetup</h2>
            <ul>
                {% for veue in associatedVenues %}
                    <li>
                        <a href="{{ venue.url }}" target="_blank">{{ venue }}</a> --> <a href="{{ venue.meetup.url }}" target="_blank">{{ venue.meetup }}</a>
                    </li>
                {% endfor %}
            </ul>
        </section>
    {% endif %}
{% endblock %}